body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7b1fa2;
    color: white;
}

.mainContainer {
    display: flex;
    margin-top: 80px;
    min-height: calc(100vh - 80px);
}
  
.leftContainer,
.rightContainer {
    width: 20%;
    background-color: #5a0099;
    padding: 1rem;
    box-sizing: border-box;
}
  
.centerContainer {
    width: 60%;
    background-color: #7b1fa2;
    padding: 1rem;
    box-sizing: border-box;
}

.hidden{
    display: none;
  }

/* load bar */
#nprogress .bar {
  background: yellow !important;
  height: 5px !important;
}

/* shadow */
#nprogress .peg {
  box-shadow: 0 0 5px yellow, 0 0 2.5px yellow !important; 
}