.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #7b1fa2;
  min-height: calc(100vh - 80px);
}

.profileContainer h1 {
  margin-top: 100px;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.profileDetails {
  background-color: #5a0099;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  width: 100%;
  max-width: 600px;
}

.profileDetails ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profileDetails li {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: #ffccff;
}

.logout {
  margin-top: 2rem;
}

.logout form {
  display: flex;
  justify-content: center;
}

.logout input[type="submit"] {
  background-color: #4b0082;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.4); */
  transition: background-color 0.3s;
}

.logout input[type="submit"]:hover {
  background-color: #6a0dad;
}

.hidden{
  display: none;
}
  